a:link {
        text-decoration: none; color: blue;
}
a:visited {
        text-decoration: none; color: blue;
}
a:hover {
        text-decoration: underline;
}
.container {
	font-size: 13px;
}
.error {
	color: red;
}
table#rooster {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid black;
	table-layout: fixed;
}
table#rooster th {
        border: 1px solid black;
}
table#rooster > tbody > tr {
        vertical-align: top;
}
table#rooster > tbody >tr > td {
        /*width: 19%;*/
        border: 1px solid black;
}
#rooster > tbody > tr > td:not(:first-child), #rooster > tbody > tr > th:not(:first-child) {
	width: 20.0%;
}
table#rooster > tbody >tr > td.single {
        width: 100%;
        border: 1px solid black;
}
#rooster > tbody > tr > td:first-child, #rooster > tbody > tr > th:first-child {
        width: .6em;
}
div.les {
        border-top: 1px solid #989898;
        width: 100%;
}
div.les:first-child {
        border: 0px;
}
.llnrs {
        text-align: right;
}
.les table {
        font-size: 13px;
        font-family: sans-serif;
        border-spacing: 0px;
        padding: 0px;
        float: left;
}
.les tr {
        vertical-align: middle;
}
.les td {
        border: 0px;
}
#colorschemelinks {
        font-size: 9px;
}
#updateinfo {
        font-size: 9px;
}
#leerlinglijst {
        font-size: 13px;
}
#footer {
        font-size: 9px;
}
.comment {
        text-align: right;
        font-size: 11px;
        float: right;
}
.clear {
        clear: both;
}
.unknown {
        color: red;
}
.legenda {
        padding: 0px 0em 0px .9em; border: 1px solid black;
}
.tiny {
        font-size: 9px;
}
.small {
        font-size: 12px;
}
.uitval {
        background-color: #FF9696;
        font-style: italic;
}
.vrijstelling {
        background-color: #C0D4EE;
        font-style: italic;
}
.lokaalreservering {
        background-color: #FFAA88;
}
.verplaatstnaar {
        background-color: #FAA1FA;
        font-style: italic;
}
.verplaatstvan {
        background-color: #FFBB66;
}
.extra {
        background-color: #BBFFBB;
}
.gewijzigd {
        background-color: #FFFF99;
}
.onlyprint {
        display: none;
}
.flex-wrapper {
  margin-left: .5em;
  margin-right: .5em;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
body {
	text-size: small;
	margin: 0;
}
.debug {
	display: none;
}
div.tablemarkup > table {
        border-collapse: collapse;
        border: 1px solid black;
}
div.tablemarkup > table * td, div.tablemarkup > table * th {
        padding-top: 1.1mm;
        padding-bottom: 1.1mm;
        padding-left: 1.1mm;
        padding-right: 1.1mm;
        border: 1px solid black
}
#footer {
	font-size: xx-small;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	margin-top: 15px;
	margin-bottom: 5px;
}
#footerlogo {
	padding-top: .3ex;
	padding-bottom: .3ex;
	float: left;
}
#footerlogo img {
	height: 6.9ex;
}
#footertext {
	float: left;
	padding-left: .5em;
	padding-top: .3ex;
	padding-bottom: .3ex;
}
